/* =============== EMPRESA =============== */
.localizacao-pagina {
  height: 20.19rem /* 323/16 */;
  padding-top: 2.75rem ;
}
.localizacao-pagina p{
  font-weight: 400;
}

.localizacao-pagina1{
  height: 21rem /* 323/16 */;
  padding-top: 8.75rem ;
}

.empresa h1{
  font-size: 1.5rem /* 24/16 */;
  color: #2d2d2d;
  font-weight: 700;
}

.card-columns .card{background: none;border: none;}
.bg_cinza{background: #fafafd;}

.caroucel_prod{
  position: absolute;
  bottom: .38rem /* 6/16 */;
  left: 0%;
  width: 100%;
}

.servico_dentro p{
  font-size: .88rem /* 14/16 */;
  font-weight: 400;
}


.produto_dentro h1{
  font-size: 1.5rem /* 24/16 */;
}

.produto_dentro h3 span{
  color: #61b265;
}

.produto_dentro p{
  font-size: .88rem /* 14/16 */;
  font-weight: 400;
}

.fundo_contatos{
  background:url(../imgs/fundo_contatos.png) right center no-repeat;
  height: 100%;
  width: 100%;
}



.input-form{height: 3.19rem; background: #fff; border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.input-form1{height: 3.19rem; background: #f5f5f5;border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 10px;height: 12rem}
.btn_formulario{/*position: absolute;*/bottom: -.38rem /* -6/16 */;right: .44rem /* 7/16 */;border-radius: 0;font-size: .75rem;color: #fff;padding: .63rem 2.06rem;background: #001d33;font-weight: 700;cursor: pointer;font-family:"Lato Black";}
.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}
.trabalhe_conosco b{font-size: .88rem; color: #000;}
/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 0.21rem;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */
.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}
.input-lista-prod-orcamentos{background: #cecece;color: #fff; width: 1.88rem ; height: 1.88rem ; text-align: center;font-family: "Lato Black";}

.tabela-orcamento tbody tr td {
  border-top:  0;
  border-bottom: 1px solid #cecece;
  padding: 4px;
  font-size: .63rem;
}

.fa-times-circle:before {
  color: #F21E1E;
}

.fundo_contatos{
  background: url(../imgs/fundo_contatos.png)top 30px right no-repeat;
  width: 100%;
  height: 100%;
}

.tabela-orcamento tbody tr{
  border-bottom: 1px solid #002953;

}

.bg-index {
  background: url("./imgs/bg-index.jpg") top center no-repeat;
  width: 100%;
}

.bg_home{
  background: url("./imgs/fundo_transparente.png") top center;
}

.font-index{
  margin-top: .63rem;
  margin-bottom: 1.6rem;
}


.font-index h1 {
  color: #fff;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  font-size: 1.25rem /* 20/16 */;
  font-weight: 700;
  opacity: 1;
}

.font-index p{
  font-size: 1.06rem;
  color: #000;
  font-weight: 700;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  text-align: center;
}


.index-bg-icones {
  padding: .31rem /* 5/16 */;
  background: url(./imgs/fundo_transparente.png) top center;
  border-radius: 0px;
  margin-top: .38rem;
}

.trabalhe_conosco .form-control-feedback{
  position: absolute;
  color: #000;
  top: 1.13rem /* 18/16 */;
  left: 0.63rem /* 10/16 */;
}

.trabalhe_conosco .curriculo b {
    top: 2px;
    left: 39px;
    position: absolute;
}


.curriculo input{
  padding-top: 0.88rem;
}

.slider_comentario p{font-size: .94rem /* 15/16 */;font-weight: 400;}


.total-resultado-busca span,.total-resultado-busca h1{
  font-weight: 700;
  color: #0f0f0f;
  font-size:1.13rem;
}


.categorias_produtos .nav-link h4 {
  font-size: 14px;
  font-family: "Lato Black";
}

.categorias_produtos .nav-link{
  padding: 0;
}


.btn_fechar {
  background: #fff;
  font-weight: 700;
  font-size: 1.88rem;
  color: #643e36;
  border-radius: 0;
  top: 0;
  font-family: 'Edwardian Script ITC';
  margin-bottom: 15px;
}


.btn_telefone {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  background: #378b3b;
  padding: 2px 12px;
}

.titulo_loja {
  background: #fff;
  padding-bottom: 20px;
}

.menu_lateral h2{
  font-size: 1.38rem /* 22/16 */;
  color: #fff;
}

.menu_lateral .media{
  background: #378b3b;
  padding: .25rem /* 4/16 */;
}

.bg_branco{
  background: #fff;
}

.nossos_produtos .card{
  border: none;
}


.imagem{
  -webkit-box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
  -moz-box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
  box-shadow: 3px 3px 25px 6px rgba(0,0,0,0.11);
  z-index: 999;
}
.nossos_produtos .card-body{
  background: #f6f5f5;
}

.menu_lateral{
  background: #fff;
  padding-top: 0;
}

.menu_lateral .list-group-item:first-child{
  margin-top: 0px;
}

.menu_lateral .list-group-item {
  background-color: #378b3b;
  border: none;
  color: #fefefe;
  margin-top: 8px;
  padding: .44rem .5rem;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.menu_lateral .ativo{
  background-color: #e2cd2d;
  color: #fff;
  cursor: default;
}

.menu_lateral .list-group-item.active{
  z-index: 2;
  color: #fff;
  background-color: #0e704a;
  font-weight: 700;
}

.line_text_prod{
  overflow: hidden;
  height: 40px;
}

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

.menu_lateral .list-group-item:hover {
  z-index: 2;
  color: #252525;
  background-color: #fef922;
  font-weight: 400;
}

.btn_nao_encontrado{
  color: #000;
  background: #fef923;
}


.container_metade_esquerda {
  width: 100%;
  background: #eaeae5;
  position: absolute;
  margin-left:  -103px;
  height: 100%;
  top: 35px;
  left:  50%;
  z-index: -1;
}

.container_metade_direita {
  width: 100%;
  background: #eaeae5;
  position: absolute;
  margin-right: -103px;
  height: 100%;
  top: 35px;
  right: 50%;
  z-index: -1;
}

.teste {
  width: 100%;
  height: 100%;
  position: relativo;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}

.dicas_geral .card{
  background: none;
  border: none;
}

.dicas_geral a h4{
  color: #000;
}

.desc_dicas{
  overflow: hidden;
  height: 40px;
}

.dicas_dentro p{font-weight: 400;margin-top: 4px;}

.tratamentos .card {
  background: #b9a472;
  border: 0;
  -webkit-box-shadow: inset 1px 1px 133px 12px rgba(161,144,101,1);
  -moz-box-shadow: inset 1px 1px 133px 12px rgba(161,144,101,1);
  box-shadow: inset 1px 1px 133px 12px rgba(161,144,101,1);
}
.desc_tratamento {overflow: hidden;height: 52px;}
.tratamentos p{font-size: .88rem /* 14/16 */;font-weight: 400;}
.tratamentos a h2{color: #000;}
.tratamentos .desc_tratamento{font-weight: 300;}

.detalhes_tratamentos p{font-weight: 700;font-size: 1.13rem /* 18/16 */;}
.slider_comentario .slider amp-img{border-radius: 50%;}
.emp_descricao .card {
    background: none;
    border: none;
}
.emp_descricao .card-body {
    padding: 5px;
}

.emp_descricao p{font-weight: 400;}

.telefone_topo .media-body, .telefone_topo .media-left, .telefone_topo .media-right {
    display: block;
}

.telefone_topo a{color: #000;}

.list-group-item {
  color: #000;
  font-weight: 700;
}

.categoria .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #001d33;
    border: 0;
}
