.topo{ text-align: center;padding: 0px 0px 0px 0px;}
.rodape{background: #001d33; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 8px 0px 0px 0px; z-index: 999;}
.rodape a{color: #fff; text-decoration: none; font-size: .88rem;font-weight: 700;}
.separador-rodape{height: 3.13rem;}
.btn-topo{background: none; color: #fff; margin-top: .75rem;}

.menu-mobile-principal{background: #001d33;}
.menu-mobile li{
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #000;font-size: 1rem;}
.bg_topo{background:#001d33;height: 4.19rem;}


.whatsappFixed{
    position: fixed;
    right: 0px;
    bottom: 30px;
  }